<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- HTML Meta Tags -->
<title>Netlogs - A Logbook for Security Writeups</title>
<meta name="description" content="Hi, my name is Chrisando Ryan (or Siahaan, if you play CTFs), and in this blog you’ll find my writings. They’ll be mostly about Cyber Security and Programming, so please don’t expect something else.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Netlogs - A Logbook for Security Writeups">
<meta itemprop="description" content="Hi, my name is Chrisando Ryan (or Siahaan, if you play CTFs), and in this blog you’ll find my writings. They’ll be mostly about Cyber Security and Programming, so please don’t expect something else.">
<meta itemprop="image" content="https://media-exp1.licdn.com/dms/image/C5103AQFCLYZogVorbw/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=6HkBXtSzHmeC8aepjIpqyf6CnDd5ax4wezbN4BCQMJ0">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://blog.shellkod.xyz">
<meta property="og:type" content="website">
<meta property="og:title" content="Netlogs - A Logbook for Security Writeups">
<meta property="og:description" content="Hi, my name is Chrisando Ryan (or Siahaan, if you play CTFs), and in this blog you’ll find my writings. They’ll be mostly about Cyber Security and Programming, so please don’t expect something else.">
<meta property="og:image" content="https://media-exp1.licdn.com/dms/image/C5103AQFCLYZogVorbw/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=6HkBXtSzHmeC8aepjIpqyf6CnDd5ax4wezbN4BCQMJ0">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Netlogs - A Logbook for Security Writeups">
<meta name="twitter:description" content="Hi, my name is Chrisando Ryan (or Siahaan, if you play CTFs), and in this blog you’ll find my writings. They’ll be mostly about Cyber Security and Programming, so please don’t expect something else.">
<meta name="twitter:image" content="https://media-exp1.licdn.com/dms/image/C5103AQFCLYZogVorbw/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=6HkBXtSzHmeC8aepjIpqyf6CnDd5ax4wezbN4BCQMJ0">