<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  {% include header.html %}

</head>

<body class="{{ page.colorspace }}">
  {% if site.show_header %}
  <div id="header">
    <nav>
      <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
      {% if site.show_downloads %}
      <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
      <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
      <li class="title">DOWNLOADS</li>
      {% endif %}
    </nav>
  </div><!-- end header -->
  {% endif %}

  <div class="wrapper">
    {% if site.show_header %}<section>
      {% else %}<section class="no-header">{% endif %}
        <div id="title">
          {% if page.icon %}
          <img src="{{ page.icon | relative_url }}" />
          {% endif %}
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        <div class="content">
          {{ content }}
          <div class="navigation">
            {% for category in page.listings %}
            <div class="topic-container">
              <h2 class="title">{{ category[0] }}</h2>
              <ul>
                {% for listing in category[1] %}
                <div>
                  {% if listing[1].link contains 'http' %}
                  <a href="{{ listing[1].link }}">
                    {% else %}
                    <a href="{{ listing[1].link | baseurl }}">
                      {% endif %}
                      <img src="{{ listing[1].icon | relative_url }}" />
                      <h4 class="button">{{ listing[0] }}</h4>
                    </a>
                </div>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>

        </div>

        {% include footer.html %}
      </section>

  </div>

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>