<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  {% include header.html %}

</head>

<body class="{{ page.colorspace }}">
  {% if site.show_header %}
  <div id="header">
    <nav>
      <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
      {% if site.show_downloads %}
      <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
      <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
      <li class="title">DOWNLOADS</li>
      {% endif %}
    </nav>
  </div><!-- end header -->
  {% endif %}

  <div class="wrapper">
    {% if site.show_header %}<section>
      {% else %}<section class="no-header">{% endif %}
        <div id="title">
          {% if page.icon %}
          <img src="{{ page.icon | relative_url }}" />
          {% endif %}
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        {% include breadcrumbs.html %}

        <div class="content">
          {{ content }}
          <div>
            {% for post in site.posts %}
            <!-- Only display .md with type 'page' -->
            {% if post.type == 'page' %}
            <!-- Only display if the post is correct in category (ctf, htb, etc.)  -->
            {% if post.category == page.category %}
            <div>
              <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3>
              </a>
              <p class="post-date">Published {{ post.date | date: "%-d %B %Y" }}</p>
              <p>{{ post.content }}</p>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>

        </div>


        {% include footer.html %}

      </section>

  </div>

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>